.left_bar {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(232, 183, 226);
  margin-top: 10px;
  border: #ffffff medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
}

.middle_bar {
  width: auto;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(255, 174, 104);
  margin-top: 10px;
  border: #ffffff medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
}

.middle_button_box {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  overflow-y: scroll;
  background-color: #f7cea5;

}

.middle_box_icon {
  width: 70px;
  height: 70px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #ffffff;
}

.middle_box_info_row_name {
  width: auto;
  height: auto;
  font-size: 16px;
  color: blue;
  font-weight:bold;
}
.middle_box_info_row_star_fork {
  width: auto;
  height: auto;
  font-size: 16px;
  float: left;
}
.middle_box_desc_row {
  width: 100%;
  height: auto;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #baf2fc;
}
.right_bar {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(168, 226, 244);
  margin-top: 10px;
  border: #ffffff medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
}

.right_button_box {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  text-align:center;
}
